<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

</head>
<body>
    <div class="container">
        <h1>Admin</h1>
    </div>

    <form method="POST">
        <button type="submit" name="submit" value="return">Return to Admin Home</button>
    </form>

    <form method="POST">        
        <label for="delID">Account ID</label>
        <input type="number" id="delID" name="delID" required>
        <button type="submit" name="submit" value="deleteEmp">Delete Employee Account</button>
    </form>
    
    <p>{{message}}</p>

</body>
</html>