<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

</head>
<body>
    <div class="container">
        <h1>Admin</h1>
    </div>

    <form method="POST">        
        <div>
            <!--Logout of current session-->
            <button type="submit" name="submit" value="logout">Logout</button>
        </div>
        <h1>Manage Employees</h1>
        <div>
            <!--Print All Employee Accounts-->
            <button type="submit" name="submit" value="allEmp">View Employee Roster</button>
            <!--Create Employee Account-->
            <button type="submit" name ="submit" value="createEmp">Create Employee Account</button>        
        </div>
    </form>

    <!--Second form to get around required input-->
    <form method="POST">
        <div>
            <label for="empAccs">Employees:</label>
            <select name="empAccs" id="empAccs" required>
                {% for item in emps %} <!-- loops thru all the employees in ids and adds them to the dropdown box-->
                <option value="{{ item.get('accID') }}">{{ item.get('accID') }}: {{ item.get('fName') }} {{ item.get('lName') }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" name="submit" value="modifyEmp">Modify Employee</button>
            <h1>Careful With the Delete!!!<br><br><br></h1>
            <button type="submit" name="submit" value="deleteEmp">Delete Employee</button>
        </div>
    </form>

</body>
</html>