<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee: {{empID}}</title>

</head>
<body>
    <form method="POST">
        <button type="submit" name="submit" value="return">Return to Admin Home</button>
    </form>
    
    <!--Print Employee Information and Assigned Tickets-->
    <p><b>Employee:</b> {{account}}</p>
    <table>
        <th>Tickets: </th>
        {% for item in tickets %}
            <tr>
                <td>{{item}}</td>
            </tr>
        {% endfor %}
    </table>

    <h1></h1>
    
    <!--Employee Credentials-->
    <form method="POST">
        <div>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" required>
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" name="submit" value="modify">Modify Account</button>
    </form>

    <!--Schedule-->
    <form>
        
    </form>

</body>
</html>