<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

</head>
<body>

    <form method="POST">
        <button type="submit" name="submit" value="return">Return to Admin Home</button>
        <h1></h1>
        <p>Are you sure you want to delete: {{ account.get('accID') }}: {{ account.get('fName') }} {{ account.get('lName') }}?</p>
        <button type="submit" name="submit" value="confirm">Delete Employee Account</button>
    </form>
    
    <p>{{message}}</p>

</body>
</html>