<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee: {{empID}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
        }
        .header {
            background-color: #4c65b8de;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }
        .header .left-buttons,
        .header .right-buttons {
            display: flex;
        }
        .header .left-buttons button,
        .header .right-buttons button {
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            background-color: white;
            color: #000000de; /* Ensure text color contrasts with the button background */
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="left-buttons">
            <form method="POST">
                <button type="submit" name="submit" value="return">Home</button>
            </form>
        </div>
        <div class="right-buttons">
            <button onclick="location.href='/logout/'">Logout</button>
        </div>
    </div>

    <!--Change Employee Being Viewed-->
    <form method="POST">
        <div>
            <label for="empAccs">Change Employee Being Viewed:</label>
            <select name="empAccs" id="empAccs" required>
                {% for item in emps %} <!-- loops thru all the employees in ids and adds them to the dropdown box-->
                    <option value="{{ item.get('accID') }}">{{ item.get('accID') }}: {{ item.get('fName') }} {{ item.get('lName') }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" name="submit" value="change">Change Employee</button>
        </div>
    </form>

    <h1></h1>
    
    <!--Print Employee Information-->
    <div>
        <p><b>Employee:</b> {{ account.get('fName')}} {{ account.get('lName') }}<br>
            AccID: {{ account.get('accID') }}<br>
            Username: {{ account.get('username') }}<br>
            Password: {{ account.get('password') }}</p>
    </div>

    <h1></h1>

    <!--Employee Credentials-->
    <form method="POST">
        <div>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" required>
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" name="submit" value="modify">Modify Account</button>
    </form>

    <h1></h1>

    <!--Printing the Tickets-->
    <div>
        <table>
            <!--Table Header Formatting-->
            <th>Ticket ID</th>
            <th>User ID</th>
            <th>Employee ID</th>
            <th>Status</th>
            <th>Eta</th>
            <th>Start Time</th>
            {% for item in tickets %}    <!--Iterate through each ticket-->
                <tr>
                    <!--Each piece of information gets its own cell in the table-->
                    <td> {{ item.get('ticketID') }}</td>
                    <td>{{ item.get('userID') }}</td>
                    <td>{{ item.get('assignedEmpID') }}</td>
                    <td>{{ item.get('status') }}</td>
                    <td>{{ item.get('eta') }}</td>
                    <td>{{ item.get('startTime') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h1></h1>

    <!--Ticket changes-->
    <form method="POST">
        <div>
            <label for="tIDs">Tickets:</label>
            <select name="tIDs" id="tIDs" required>
                {% for item in ticketIDs %}    <!--Adding each ticket ID to selection-->
                    <option value="{{ item.get('ticketID') }}">{{ item.get('ticketID') }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="eIDs">Employees:</label>
            <select name="eIDs" id="eIDs" required>
                {% for item in empIDs %}    <!--Adding each employee ID to selection-->
                    <option value="{{ item.get('accID') }}">{{ item.get('accID') }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" name="submit" value="reassign">Reassign Ticket</button>
        </div>
    </form>

    <h1></h1>

    <!--Printing the Schedule-->
    <div>
        <h3>Schedule</h3>
        <table>
            {% for day in schedule %}    <!--Schedule is a 3-D array, so start by iterating through each day-->
            <tr>
                <td>{{ days_list[loop.index0] }}:</td>   <!--Days of the week-->
                {% if day | length > 0 %}    <!--Check if current day has any entries-->
                    {% for i in  range(day[0] | length) %}    <!--Iterate though each timeslot-->
                        <!--Start Time followed by Duration-->
                        <td>Start {{ loop.index }}: {{ day[0][loop.index0] }}</td>
                        <td>Duration {{ loop.index }}: {{ day[1][loop.index0] }}</td>
                    {% endfor %}
                {% endif %}
            <tr>
            {% endfor %}
        </table>
    </div>
    
    <h1></h1>

    <!--Schedule Changes-->
    <form method="POST">
        <select name="day" id="day" required>
            <option value="0">Sunday</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
        </select>

        <label for="startTime">Start Time:</label>
        <input type="time" name="startTime" value="startTime" required>

        <label for="endTime">End Time:</label>
        <input type="time" name="endTime" value="endTime" required>

        <button type="submit" name="submit" value="schedule">Add Timeslot</button>
        <button type="submit" name="submit" value="remove">Remove Timeslot</button>
    </form>

    <h1></h1>

    <!--Schedule Default/Clear-->
    <form method="POST">
        <button type="submit" name="submit" value="default">Assign Default Schedule</button>
        <button type="submit" name="submit" value="clear">Clear Whole Schedule</button>
    </form>
    
</body>
</html>
