<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee: {{empID}}</title>

</head>
<body>
    <form method="POST">
        <button type="submit" name="submit" value="return">Return to Admin Home</button>
    </form>

    <!--Change Employee Being Viewed-->
    <form method="POST">
        <label for="empAccs">Employees:</label>
        <select name="empAccs" id="empAccs" required>
            {% for item in emps %} <!-- loops thru all the employees in ids and adds them to the dropdown box-->
            <option value="{{ item.get('accID') }}">{{ item.get('accID') }}: {{ item.get('fName') }} {{ item.get('lName') }}</option>
            {% endfor %}
        </select>
        <div>
            <button type="submit" name="submit" value="change">Change Employee</button>
        </div>
    </form>
    
    <!--Print Employee Information and Assigned Tickets-->
    <div>
        <p><b>Employee:</b> {{ account.get('fName')}} {{ account.get('lName') }}</p>
    </div>
    <div>
        <table>
            <th>Tickets:</th>
            {% for item in tickets %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <p>schedule:</p>
    </div>

    <h1></h1>
    
    <!--Employee Credentials-->
    <form method="POST">
        <div>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" required>
        </div>
        <div>
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" required>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" name="submit" value="modify">Modify Account</button>
    </form>

</body>
</html>