<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Roster</title>

</head>
<body>
    <div class="container">
        <h1>Employee Roster</h1>
    </div>

    <form method="POST">
        <button type="submit" name="submit" value="return">Return to Admin Home</button>
    </form>

    <p>
        <table>
            {% for item in accounts %}  <!--Iterates through all passed accounts-->
            <tr>
                <td>{{item}}</td> <!--Prints each document in the collection-->
            </tr>
            {% endfor %}
        </table>
    </p>

</body>
</html>