<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debug</title>

</head>
<body>
    <div class="container">
        <h1>Debug</h1>
        
    </div>

    <form method="POST">        
        
        <h1></h1>

        <label for="empID">empID</label>
        <input type="text" id="empID" name="empID">

        <label for="ticketID">ticketID</label>
        <input type="text" id="ticketID" name="ticketID">  

        <button type="submit" name="submit" value="assign">assign ticket</button>

        <h1></h1>

        <label for="ticketIDc">ticketID</label>
        <input type="text" id="ticketIDc" name="ticketIDc">

        <button type="submit" name="submit" value="close">close ticket</button>

        <h1></h1>

        <label for="ticketIDl">ticketID</label>
        <input type="text" id="ticketIDl" name="ticketIDl">

        <button type="submit" name="submit" value="lookTicket">lookup ticket ID</button>

        <h1></h1>

        <label for="accID">accID</label>
        <input type="text" id="accID" name="accID">

        <button type="submit" name="submit" value="lookAcc">lookup account</button>
    </form>

</body>
</html>