<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debug</title>

</head>
<body>
    <div class="container">
        <h1>Debug</h1>
        
    </div>

    <form method="POST">        
        
        <h1></h1>

        <label for="empID">empID</label>
        <input type="text" id="empID" name="empID" required>

        <label for="tikcetID">ticketID</label>
        <input type="text" id="ticketID" name="ticketID" required>
        
        <h1></h1>

        <button type="submit" value="Submit">assign ticket</button>
    </form>

</body>
</html>