<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket {{ ticket[0] }}</title>

</head>

<body>
    <h1>Ticket {{ ticket[0] }}</h1>
    <p>Catagory: {{ ticket[1] }}</p>
    <p>Desc: {{ ticket[2] }}</p>

    <form method="POST" onkeydown="return event.key != 'Enter';"> <!-- the onkeydown part prevents the form from submitting when enter is pressed-->       
        <label for="hours">Enter time estimate (hours:minutes):</label>
        <input type="text" id="hours" name="hours" required>
        <label for="minutes">:</label>
        <input type="text" id="minutes" name="minutes" required>

        <button type="submit" value="Submit">Sumbit Estimate</button>
    </form>
</body>